.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .title {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
  }
  .input-button {
    display: grid;
    grid-template-columns: 5fr 1fr;
    width: 250px;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 20px;
    input {
      &::-webkit-input-placeholder{
        color: #e4ac77;
      }
      outline: none;
      border: none;
      padding: 10px 20px;
      background: #ffefdc;
    }
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      color: #fff;
      background: #fc7d19;
      cursor: pointer;
    }
  }
}
